<html>
  <head>
    <style>
      #root {
        /* background-color: #f8f4f4; */
        background-color: black;
        width: 100%;
        /* margin-left: 10%;
        margin-right: 10%; */
      }
      @media only screen and (max-width: 600px) {
        #root {
          width: 100% !important;
          margin-left: 0 !important;
          margin-right: 0 !important;
        }
      }
    </style>
  </head>
  <body>
    <center>
      <div id="root">
        <div style="padding-top: 8px; padding-bottom: 8px; color: white">
          <Table>
            <tr>
              <div style="margin: 5px">
                <th>
                  <a href="http://staging.taxeezy.co.uk/">
                    <img
                      src="https://taxeezy.s3.amazonaws.com/facebook-24.png"
                      alt="Taxeezy"
                      width="24"
                      height="24"
                    />
                  </a>
                </th>
              </div>
              <div style="margin: 5px">
                <th>
                  <a href="http://staging.taxeezy.co.uk/  ">
                    <img
                      src="https://taxeezy.s3.amazonaws.com/instagram-24.png"
                      alt="Taxeezy"
                      width="24"
                      height="24"
                    />
                  </a>
                </th>
              </div>
              <div style="margin: 5px">
                <th>
                  <a href="http://staging.taxeezy.co.uk/">
                    <img
                      src="https://taxeezy.s3.amazonaws.com/linkedin-24.png"
                      alt="Taxeezy"
                      width="24"
                      height="24"
                    />
                  </a>
                </th>
              </div>
            </tr>
          </Table>

          <h3 style="margin-bottom: 0px;  color: rgb(255, 255, 255);text-align: center;">UK Online Tax Return Service</h3>
        </div>
      </div>
    </center>
  </body>
</html>
