

// emailContent.js

export const headerHtml = `
<html>
  <head>
    <style>
      @media only screen and (max-width: 600px) {
        #root {
          width: 100% !important;
          margin-left: 0 !important;
          margin-right: 0 !important;
        }
      }
    </style>
  </head>
  <body>
    <div style="padding: 10px; display: flex">
      <img
        src="https://taxeezy.s3.amazonaws.com/taxeezyLogo.png"
        alt="Taxeezy"
        width="150"
        height="35"
        style="object-fit: contain"
      />
    </div>
  </body>
</html>

`;

 